<body>
<mat-toolbar>
  <mat-toolbar-row>
    <img src="../assets/Logo.svg" />
    <img src="../assets/ico_dashboard.svg" class="spacing"/>
    <p>Dashboard</p>
    <img src="../assets/ico_users_orange.svg" class="spacing"/>
    <p style="color: #F8B040">Users</p>
    <img src="../assets/ico_sessionmanager.svg" class="spacing"/>
    <P>Session Manager</P>
    <img src="../assets/ico_notification.svg"  class="notificationSpacing" />
    <img src="../assets/ico_user.svg" class="userIconSpacing"/>
    <p class="userNameSpacing" >John Smith</p>
    <img src="../assets/ico_downarrow.svg" style="position: absolute; right: 1%;"/>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <img src="../assets/ico_users_grey.svg" class="usersIconSpacing" />
  <span class="usersSpacing">Users</span>
  <mat-form-field appearance="outline" class="search">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
    <span matSuffix><img src="../assets/ico_search.svg"/></span>

  </mat-form-field>
  <button mat-flat-button class="addUser" color="primary"
          data-toggle="modal" data-target="#myModal" (click)="showModal()">
    <img src="../assets/ico_add.svg"/>
    Add User
  </button>
</mat-card>

<mat-card style="margin-top: -0.3%; padding: 0px;">
  <table mat-table [dataSource]= "dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> EMAIL </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Role type Column -->
    <ng-container matColumnDef="isAdmin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ROLE TYPE </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.isAdmin">Admin</div>
        <div *ngIf="!element.isAdmin">Customer Executive</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> STATUS </th>
      <td mat-cell *matCellDef="let element">
        <img src="../assets/{{element.statusIcon}}" /> <span class="status">{{element.status}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <img src="../assets/ico_edit.svg" (click)="editUser(element._id)" />
        <img class="ml-4" src="../assets/ico_delete.svg" (click)="deleteUser(element._id)" />
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-card>
</body>



