
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$mat_primary: (
  50 : #fff5e5,
  100 : #ffe7bf,
  200 : #ffd795,
  300 : #ffc76a,
  400 : #ffbb4a,
  500 : #ffaf2a,
  600 : #ffa825,
  700 : #ff9f1f,
  800 : #ff9619,
  900 : #ff860f,
  A100 : #ffffff,
  A200 : #fffbf7,
  A400 : #ffdfc4,
  A700 : #ffd1ab,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$locusnine-project-primary: mat-palette($mat_primary);
$locusnine-project-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$locusnine-project-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$locusnine-project-theme: mat-light-theme($locusnine-project-primary, $locusnine-project-accent, $locusnine-project-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($locusnine-project-theme);

